.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1;
  background-color: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}


tr:nth-child(odd) {
  background-color: #eee;
}

thead th {
  position: sticky;
  top: 0;
  background: lightblue;
  z-index: 10;
}

th, td {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border-left: 1px solid #eee;
}

.hour-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hour-block.selected {
  background-color: #4CAF50;
}

.hour-block.selected .time-marker {
  color: #fff;
}

.time-marker {
  position: absolute;
  color: #aaa;
  font-size: 0.8em;
}

.hour-block.selected .time-marker {
  display: block;
}

.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}