.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1;
  background-color: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

thead th {
  position: sticky;
  top: 0;
  background: lightblue;
  z-index: 10;
  padding: 10px 0;
}

tr:nth-child(odd) {
  background-color: #eee;
}

th, td {
  border: none;
  padding: 0;
  text-align: center;
  border-left: 1px solid #eee;
}

.hour-block {
  width: 100%;
  height: 25px;
  position: relative;
  /* background-color: #f2f2f2; */
  cursor: pointer;
}

.hour-block.selected {
  background-color: #4CAF50;
}

.hour-block.selected .time-marker {
  color: #fff;
}

.time-marker {
  /* position: absolute; */
  color: #aaa;
  font-size: 0.8em;
  line-height: 25px;

}