/* * {
  transition: all 0.3s ease;
} */

.main-div {
  font-family: sans-serif;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1;
  background-color: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

tr:nth-child(odd) {
  background-color: #eee;
}

thead {
  position: sticky;
  top: 0;
  background: lightblue;
  z-index: 10;
}

#weekRow {
  font-style: italic;
  color: #eee;
  font-size: 0.8em;
  background-color: #555;
}
th, td {
  border: none;
  padding: 0;
  width: 4vw;
  height: 3.3vh;
  text-align: center;
  border-left: 1px solid #eee;
}

.hour-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hour-block.selected {
  background-color: #4CAF50;
}

.hour-block.selected .time-marker {
  color: #fff;
}

.time-marker {
  position: absolute;
  color: #aaa;
  font-size: 0.8em;
}

.hour-block.selected .time-marker {
  display: block;
}

.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}

a, button {
  color: #fff;
  text-decoration: none;
  margin: 0 10px 10px 10px;
  font-size: 0.9em;
  padding: 10px 20px;
  border: 1px solid #0abad8;
  border-radius: 5px;
  background-color: #0abad8;
  box-shadow: 0 2px 2px #aaa;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

a:hover, button:hover {
  background-color: #fff;
  color: #0abad8;
  box-shadow: 0 4px 4px #aaa;
}

a:active, button:active {
  background-color: #0abad8;
  color: #fff;
  box-shadow: none;
}


